.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.container {
    width:900px; 
    height: 150px;
  }
  
  .first-box {
    width:300px; 
    float:left; 
    background: green; 
    height: 150px;
    margin: 50px
  }
  
  .first-box p {
    color: #ffffff;
    padding-left: 80px;
    padding-top: 50px;
  }
  
  .second-box {
    width:300px; 
    height: 150px; 
    float:right; 
    background: blue;
    margin: 50px
  }
  
  .second-box p {
    color: #e60909;
    padding-left: 110px;
    padding-top: 50px;
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}