<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>    
        </div>
        <a class="navbar-brand" href="#">Decon</a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Links <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/Meapy/Project-Decon" target="_blank">Project Decon</a></li>
                    <li><a href="https://github.com/NikolayMal" target="_blank">Nikolay M</a></li>
                    <li><a href="https://github.com/Meapy" target="_blank">Daniel K</a></li>
                </ul>
              </li>
          </ul>
        </div>
        
      </nav>
      
    
      <div class="container-fluid" style="border:1px black solid;">
        <div class="row">
            <div class="col-lg-6" style="border:1px black solid; padding:10%;">
                                <h1>Upload and display image in Flask</h1>
                    <p>Show image in html using FLASK</p>
                
                    <form method="POST" enctype="multipart/form-data" action="/">
                        <input type="file" id="myFile" name="uploaded-file" accept=".jpg">
                        <input type="submit" value="Submit">
                    </form>
                <br>
                <p style="color:green;">File uploaded successfully</p>
                <form action="/imageshow" target="_blank">
                        <input type="submit" value="Show Image" />
                    </form>

                <img src="{{ user_image }}" alt="Italian Trulli" width="500" height="400">
            </div>
            <div class="col-lg-6" style="border:1px black solid;">
                Container Right
                <img src="https://www.w3schools.com/w3images/fjords.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>

</body>
</html>
