<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <title>Decon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <a class="navbar-brand" href="#">Decon</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Links <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/Meapy/Project-Decon">Project Decon</a></li>
                        <li><a href="https://github.com/NikolayMal">Nikolay M</a></li>
                        <li><a href="https://github.com/Meapy">Daniel K</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <h5 class="text-center">--center--</h5>
    </div>
    <div class="container-fluid" style="border:1px black solid;">
        <div class="row">
            <div class="col-lg-6" style="border:1px black solid; padding:10%;">
                     <form method="post" enctype="multipart/form-data">
                      {{ form.hidden_tag() }}
                <h1>Upload and display image in Flask</h1>
                <p>Show image in html using FLASK</p>

                <form method="POST" enctype="multipart/form-data" action="/">
                    <input type="file" id="myFile" name="uploaded-file" accept=".jpg">
                    <input type="submit" value="Submit">
                </form>
                <br>
                <p style="color:blue;">Choose image file to upload</p>
                <form action="/show_data" target="_blank">
                    <input type="submit" value="Show Image" />
                </form>

                      {% for error in form.photo.errors %}
                        <span style="color: red;">{{ error }}</span>
                      {% endfor %}

                      <div class="row justify-content-center">
                        <div class="col-auto">
                          {{ form.photo(class="form-control")}}
                        </div>
                        <div class="col-auto">
                          {{ form.submit(class="btn btn-success") }}
                        </div>
                     </form>

                     {% if file_url %}

                      <div class="mt-5">
                        <img src="{{ file_url }}" alt="User Image" style="width: 400px, height 500px;">
                      </div>
                      {% endif %}

                
            </div>
          </div>
            <div class="col-lg-6" style="border:1px black solid;">
                Container Right
                <img src="https://www.w3schools.com/w3images/fjords.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>

</body>

</html>